<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.tcservicebase.domain.erp.ExampleErpMapper">

    <select id="findStockQuantityByItemCode" resultType="int">
        SELECT stock_qty
        FROM material_stock
        WHERE material_code = #{itemCode}
    </select>

    <select id="findStockDetailByItemCode" resultType="MaterialStockDetail">
        SELECT material_code, stock_qty, warehouse_code
        FROM material_stock
        WHERE material_code = #{itemCode}
    </select>

</mapper>
